.custom-h1{
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.clicked{
    background-color: #CCCCCC;
    padding-right: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.clickedHome{
    background-color: #CCCCCC;
    padding-right: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.activeIcon{
  color: black;

}

.activeTitle{
color: black;
}